.example-container {
  height: calc(100vh - 12rem);
  position: inherit;
  overflow: hidden;
}

.drawer-container {
  height: 100%;
  color: #f6f7f7;
  background-color: unset;
}

.navLink-visible {
  visibility: visible;
}

.navLink-hidden {
  visibility: collapse;
}

.item-selected {
  background-color: whitesmoke !important;
}

// .item-not-selected {
//   background-color: lightgrey !important;
// }

.is-active {
  border-right: 2px solid #0074bb !important;
}

.mat-expand-button {
  cursor: pointer;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.mat-list-item {
  font-size: 12px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 35.7px;
  font-family: Tahoma;
  min-height: 28px;
  font-size: 11px;
  font-weight: bold;
  text-align: left;  
}

.mat-list-base {
  padding-top: 0px;
}

.mat-drawer-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.example-sidenav {
  background-color: white;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
  overflow-y: scroll;
  // overflow: auto;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  width: 170px !important;
}