.example-container {
  height: calc(100vh - 12rem);
  position: inherit;
  overflow: hidden;
}

.drawer-container {
  height: 100%;
  // color: white;
  background-color: white;
}

.navLink-visible {
  visibility: visible;
}

.navLink-hidden {
  visibility: collapse;
}

.item-selected {
  background-color: lightgrey !important;
}

// .item-not-selected {
//   background-color: lightgrey !important;
// }

.is-active {
  border-right: 3px solid #0074bb !important;
  background-color: lightgrey !important;
}

.mat-expand-button {
  cursor: pointer;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.mat-list-item {
  font-size: 12px;
}

// .mat-list-base .mat-list-item,
// .mat-list-base .mat-list-option {
//   height: 35.7px;
//   font-family: Tahoma;
//   min-height: 28px;
//   font-size: 11px;
//   font-weight: bold;
//   text-align: left;  
// }

// .mat-list-base {
//   padding-top: 0px;
// }

<<<<<<< HEAD
// .mat-drawer-content {
//   overflow-y: auto;
// }
=======
.mat-drawer-content {
  overflow-y: auto;
  overflow-x: hidden;
}
>>>>>>> parent of 152a309... changes

.example-sidenav {
  background-color: white;
  width: 100%;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
  overflow-y: scroll;
  // overflow: auto;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  width: 170px !important;
}

:host ::ng-deep {
  .mat-tab-body-content {
    overflow-x: hidden !important;
  }

<<<<<<< HEAD
<<<<<<< HEAD
  .mat-tab-label.mat-tab-label-active {
    border-right: 3px solid #0074bb;
  }
  .mat-tab-label {
    max-width: 174px;
    padding: 0px 20px -1px 14px;
    color: black;
=======
  .mat-ink-bar {
    width: 3px !important ;
=======
  .mat-ink-bar {
    width: 3px !important ;
  }

  .mat-tab-label.mat-tab-label-active {
    border-right: 3px solid #0074bb;
>>>>>>> parent of 152a309... changes
  }

  .mat-tab-label.mat-tab-label-active {
    border-right: 3px solid #0074bb;
>>>>>>> parent of 152a309... changes
  }
}

// vertical tabs
:host {
  >.container {
      // max-width: 1264px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background: none;
      
  }
  ::ng-deep {
      .mat-tab-group {
          flex-direction: row;
      }
      .mat-ink-bar {
        height: 0px !important;
      }
      .mat-tab-header {
        border-bottom: none;
      }
      .mat-tab-header-pagination {
          display: none !important;
      }
      .mat-tab-labels {
          flex-direction: column;
      }
<<<<<<< HEAD
<<<<<<< HEAD
      .mat-tab-label {
        color: black;
      font-style: Tahoma;
      font-size: 13px;
    //  background-color: white;
=======
=======
>>>>>>> parent of 152a309... changes
      // .mat-ink-bar {
      //     height: 10%;
      //     left: 98% !important;
      // }
      .mat-tab-body-wrapper {
          flex: 1 1 auto;
<<<<<<< HEAD
>>>>>>> parent of 152a309... changes
=======
>>>>>>> parent of 152a309... changes
      }
  }
}

.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}

#content {
  box-sizing: content-box;
<<<<<<< HEAD
<<<<<<< HEAD
  margin: auto;
  // padding: 15px;
  width: 100%;
  padding: 0;
  background-color: white;
=======
=======
>>>>>>> parent of 152a309... changes
  margin: 0 auto;
  padding: 15px;
  width: 1264px;
  background-color: #ffffff;
}

#content {
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  box-sizing: border-box;
<<<<<<< HEAD
>>>>>>> parent of 152a309... changes
=======
>>>>>>> parent of 152a309... changes
}

#content,
#main-content {
  &::before,
  &::after {
      content: "";
      display: table;
  }
  &::after {
      clear: both;
  }
}