.example-container {
  height: calc(100vh - 12rem);
  position: inherit;
  overflow: hidden;
}

.drawer-container {
  height: 100%;
  color: #f6f7f7;
  overflow-y: auto;
  background-color: unset;
}

.navLink-visible {
  visibility: visible;
}

.navLink-hidden {
  visibility: collapse;
}

.item-selected {
  background-color: #f6f7f7 !important;
  // color: white;
  // border-right-color: 2px solid blue !important;
}

.item-not-selected {
  background-color: inherit !important;
  color: black;
}

// .menu-bttn {
//     text-align: left;
//     // color: #676767;
//     // padding: 0.5rem 1rem;
//   //   margin-left: 100px;
// }

.mat-expand-button {
  cursor: pointer;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

// .mat-toolbar-single-row {
//   padding: 1.1rem 34.7rem;
//   height: 0px;
// }

.mat-list-item {
  font-size: 12px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 38px;
  font-family: "Arial Bold", "Arial";
  min-height: 28px;
  font-weight: bold;
}

.mat-list-base {
  padding-top: 0px;
}
.mat-drawer-content {
  overflow-y: auto;
  overflow-x: hidden;
}

// .mat-nav-list .mat-list-item {
//   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
// }

.example-sidenav {
  background-color: #f6f7f7;
}

