<div fxLayout="row" fxLayoutGap="auto">
  <h2>Case Narrative</h2>
  <button class="close-icon" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <p>Case Narrative Content - Directions for Writing a Narrative Case Study..... A narrative case
    study is a story of a real life problem or situation that provides sufficient background
    data so that the problem can be analyzed and solved. A good case study is written in the
    form of a story. Case Narrative Content: Directions for Writing a Narrative Case Study.....Case Narrative Content:
    Directions for Writing a Narrative Case Study.....Case Narrative.....</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>