<ng-template [ngIf]="subject">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around">
        <mat-card class="subject-details-card">
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 5.3rem;">
                <mat-card-title>TIN Type:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.type}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Gender:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.gender}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>CDD Rank Value:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.value}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Preferred Contact Method:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.contact}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Subject Alert ID:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.alert}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>SSN/TIN:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.ssn}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Customer IP:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.ip}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Client Static ID / CIN:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.cin}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Client Since Date:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.date}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>NAICS Sector:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.sector}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Age:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.age}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Date of Birth/Incorporated.... :</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.birth}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Household ID:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.household}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>Alternate Name:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.name}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto" style="margin-right: 4rem;">
                <mat-card-title>NAICS Sub Sector:</mat-card-title>
                <mat-card-subtitle class="subtitle">{{subject.sub}}</mat-card-subtitle>
            </div>
        </mat-card>
        <mat-card class="subject-details-card">
            <div fxLayout="col" fxLayoutGap="auto" class="phone-numbers-div">
                <mat-card-title class="phone-titlemain">Phone Numbers</mat-card-title>
                <mat-divider class="phone-divider"></mat-divider>
            </div>
            <div class="phone-section">
                <div class="phone-div">
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="1" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.primaryPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="landline"></mat-icon>
                    </div>
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="2" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.secondaryPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="3" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.thirdPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="landline"></mat-icon>
                    </div>
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="4" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.fourthPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="landline"></mat-icon>
                    </div>
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="5" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.fifthPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="6" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.sixthPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="landline"></mat-icon>
                    </div>
                    <div fxLayout="col" fxLayoutGap="30px" class="phone-gap">
                        <span matBadge="7" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-gaps">{{subject.seventhPhoneNo}}</mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>
                </div>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="email-title">Emails</mat-card-title>
                <mat-divider class="email-divider"></mat-divider>
            </div>
            <div class="emails-div">
                <div fxLayout="col" fxLayoutGap="30px" class="email-gaps">
                    <span matBadge="1" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px" class="email-gaps">
                    <span matBadge="2" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px" class="email-gaps">
                    <span matBadge="3" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px" class="email-gaps">
                    <span matBadge="4" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px" class="email-gaps">
                    <span matBadge="5" matBadgeOverlap="false"></span>
                    <mat-card-subtitle>{{subject.emailId}}</mat-card-subtitle>
                </div>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="document-title">Documents</mat-card-title>
                <mat-divider class="document-divider"></mat-divider>
            </div>
            <div class="documents-div">
                
                <div fxLayout="col" fxLayoutGap="53px" style="padding-left: 0px;">
                    <span matBadge="1" matBadgeOverlap="false" class="doc-gaps"></span>
                    <mat-card-title class="leftmarginclass">Type:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>

                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Number:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="36px" style="padding-left: 45px;">
                    <mat-card-title>Effective:</mat-card-title>
                    <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="47px" style="padding-left: 45px;">
                    <mat-card-title>Sector:</mat-card-title>
                    <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="41px" style="padding-left: 45px;">
                    <mat-card-title>Expires:</mat-card-title>
                    <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Country:</mat-card-title>
                    <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="5px" style="padding-left: 45px;">
                    <mat-card-title>State/Province:</mat-card-title>
                    <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                </div>
                <div class="gapclass" fxLayout="col" fxLayoutGap="50px" style="padding-left: 45px;">
                    <mat-card-title>Issuer:</mat-card-title>
                    <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="53px" style="padding-left: 0px;">
                    <span matBadge="2" matBadgeOverlap="false" class="doc-gaps"></span>

                    <mat-card-title class="leftmarginclass">Type:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Number:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="36px" style="padding-left: 45px;">
                    <mat-card-title>Effective:</mat-card-title>
                    <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="47px" style="padding-left: 45px;">
                    <mat-card-title>Sector:</mat-card-title>
                    <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="41px" style="padding-left: 45px;">
                    <mat-card-title>Expires:</mat-card-title>
                    <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Country:</mat-card-title>
                    <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="5px" style="padding-left: 45px;">
                    <mat-card-title>State/Province:</mat-card-title>
                    <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                </div>
                <div class="gapclass" fxLayout="col" fxLayoutGap="50px" style="padding-left: 45px;">
                    <mat-card-title>Issuer:</mat-card-title>
                    <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="53px" style="padding-left: 0px;">
                    <span matBadge="3" matBadgeOverlap="false" class="doc-gaps"></span>

                    <mat-card-title class="leftmarginclass">Type:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Number:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="36px" style="padding-left: 45px;">
                    <mat-card-title>Effective:</mat-card-title>
                    <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="47px" style="padding-left: 45px;">
                    <mat-card-title>Sector:</mat-card-title>
                    <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="41px" style="padding-left: 45px;">
                    <mat-card-title>Expires:</mat-card-title>
                    <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Country:</mat-card-title>
                    <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="5px" style="padding-left: 45px;">
                    <mat-card-title>State/Province:</mat-card-title>
                    <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                </div>
                <div class="gapclass" fxLayout="col" fxLayoutGap="50px" style="padding-left: 45px;">
                    <mat-card-title>Issuer:</mat-card-title>
                    <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                </div>


                <div fxLayout="col" fxLayoutGap="53px" style="padding-left: 0px;">
                    <span matBadge="4" matBadgeOverlap="false" class="doc-gaps"></span>
                    <mat-card-title class="leftmarginclass">Type:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Number:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="36px" style="padding-left: 45px;">
                    <mat-card-title>Effective:</mat-card-title>
                    <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="47px" style="padding-left: 45px;">
                    <mat-card-title>Sector:</mat-card-title>
                    <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="41px" style="padding-left: 45px;">
                    <mat-card-title>Expires:</mat-card-title>
                    <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="40px" style="padding-left: 45px;">
                    <mat-card-title>Country:</mat-card-title>
                    <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="5px" style="padding-left: 45px;">
                    <mat-card-title>State/Province:</mat-card-title>
                    <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                </div>
                <div class="gapclass" fxLayout="col" fxLayoutGap="50px" style="padding-left: 45px;">
                    <mat-card-title>Issuer:</mat-card-title>
                    <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
        <mat-card class="subject-details-card">
            <div fxLayout="col" fxLayoutGap="auto" class="address-col">
                <mat-card-title class="addresses-title">Addresses</mat-card-title>
                <mat-divider class="address-divider"></mat-divider>
            </div>
            <div class="addresses-div">
                <span matBadge="1" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/221+River+St+floor+10th,+Hoboken,+NJ+07030/@40.7386666,-74.0299142,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259e1afe41b05:0x5e89082107825342!8m2!3d40.7386626!4d-74.0277255"
                            target="new">
                            Nice Actimize<br><span>221 RIVER ST/ FLOOR 10TH<br></span>HOBOKEN, NJ
                            07030-5891<br><span>United States</span>
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="2" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="3" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="4" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="5" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="6" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="7" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="8" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="9" matBadgeOverlap="false"></span>
                <div class="gaps" fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
                <span matBadge="10" matBadgeOverlap="false"></span>
                <div fxLayout="col" fxLayoutGap="auto" style="padding-left: 32px;">
                    <mat-card-subtitle>
                        <a class="address-link"
                            href="https://www.google.com/maps/place/272+Victoria+Dock+Rd,+London,+UK/@51.5100909,0.0251221,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a8747baca9f1:0x4fd38dae3faabf61!8m2!3d51.5100876!4d0.0273108"
                            target="new">
                            ibis Styles London Excel<br><span>272 Victoria Dock Rd<br></span>Custom
                            House<br><span>London, UK E16 3BY<br></span>United Kingdom
                        </a>
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>
</ng-template>
<ng-template [ngIf]="!subject">
    No data found
</ng-template>