// .back-bttn {
//     padding: 1rem 2rem;
//     font-family: Arial;
//     font-size: 12px;
// }

.card-details {
  // padding: 0 1rem;
  font-family: Arial;
  font-size: 12px;
}

.titlecontent {
  font-weight: bold;
}

:host ::ng-deep {
  mat-ink-bar {
    display: none;
  }
}

.subject-label {
  font-family: "Arial Bold", "Arial";
  font-size: 14px;
  font-weight: bold;
}

.mat-card-title {
  font-size: 12px;
  font-family: "Arial Bold", "Arial";
  margin-bottom: unset;
}

.mat-card-subtitle {
  margin-top: unset;
  font-family: "Arial Bold", "Arial";
  font-size: 12px;
  margin-bottom: unset;
}

.title,
.subtitle {
  color: unset;
  font-weight: bold;
}

.phone-divider {
  left: 13px;
  top: 31px;
  width: 84%;
  
}

.email-divider {
  left: 13px;
  top: 140px;
  width: 84%;
  
}

.email-title {
  padding: 25px 0px 0px 0px;
}

.document-title {
  padding: 25px 0px 0px 0px;
}
.document-divider {
  left: 13px;
  top: 225px;
  width: 84%;
  
}

.address-divider {
  left: 13px;
  top: 31.8px;
  width: 84%;
  color: black;
}

.mat-badge {
  width: 0;
  top: 11px;
}

.landmark {
  padding-left: 2rem;
}

.mat-raised-button {
  cursor: pointer;
}

mat-card {
  margin-right: 0 !important;
  padding: 14px !important;
  min-width: 25% !important;
  box-shadow: unset !important;
}

.address-col {
  padding-bottom: 0rem;
}

.phone-section {
  padding-bottom: 0rem;
  padding-top: 0rem;
  //    max-height: 50px;
}

.phone-div {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 65px;
}

.addresses-div {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 350px;
  
  }

 .gaps {
   padding-bottom: 10px;
 }

 .email-gaps {
   padding-bottom: 5px;
 }
.documents-div {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 145px;
  // display: flex;
}
.phone-numbers-div {
  padding-bottom: 0rem;
}

.emails-div {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 40px;
}

.gap {
  padding-left: 2rem;
}
.phone-icon {
  height: 16px;
  width: 16px;
}
.phone-title {
  margin-right: unset !important;
  margin-left: 20px;
  padding-top: 0px;
}

:host ::ng-deep {
  .mat-tab-label {
    color: unset !important;
    font-weight: bold !important;
    font-family: "Arial Bold", "Arial" !important;
  }

  .mat-tab-label .mat-tab-label-content {
    color: black;
  }
}

.phone-titlemain {
  font-family: Arial Bold, Arial;
  font-weight: bold;
  font-size: 12px;
  margin-left: 0px;
}

.email-title {
  font-family: Arial Bold, Arial;
  font-weight: bold;
  font-size: 12px;
}

.email-gap {
  padding-bottom: 3px;
  // padding-top: 5px;
}
.document-title {
  font-family: Arial Bold, Arial;
  font-weight: bold;
  font-size: 12px;
}

.phone-gap {
  padding-top: 1px;
  padding-bottom: 6px;
}
