<!-- <mat-tab-group>
    <mat-tab label="Actual Subject Card"> -->
        <ng-template [ngIf]="subject">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around">
                <mat-card class="subject-details-card">
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Subject Type:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.type}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Subject Key:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.key}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Subject Name:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.name}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>First Name:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.firstName}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Mid Name:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.midName}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Last Name:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.lastName}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Open Date:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.openDate}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Segment:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.segment}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Sector:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.sector}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Classification:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.classification}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Region:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.region}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Primary Currency:</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{subject.currency}}</mat-card-subtitle>
                    </div>
                </mat-card>
                <mat-card class="subject-details-card">
                    <div fxLayout="col" fxLayoutGap="auto" class="phone-numbers-div">
                        <mat-card-title class="title">Phone Numbers</mat-card-title>
                        <mat-divider class="phone-divider"></mat-divider>
                    </div>

                    <div class="phone-section">
                        <div fxLayout="col" fxLayoutGap="auto" >
                            <mat-card-subtitle >{{subject.primaryPhoneNo}}</mat-card-subtitle>
                        </div>
    
                        <div fxLayout="col" fxLayoutGap="auto">
                            <mat-card-subtitle>{{subject.secondaryPhoneNo}}</mat-card-subtitle>
                        </div>
                    </div>
                  

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title class="title">Emails</mat-card-title>
                        <mat-divider class="email-divider"></mat-divider>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>{{subject.emailId}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title class="title">Documents</mat-card-title>
                        <mat-divider class="document-divider"></mat-divider>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Type:</mat-card-title>
                        <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Number:</mat-card-title>
                        <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Effective:</mat-card-title>
                        <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Sector:</mat-card-title>
                        <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Expires:</mat-card-title>
                        <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Country:</mat-card-title>
                        <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>State/Province:</mat-card-title>
                        <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-title>Issuer:</mat-card-title>
                        <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                    </div>
                </mat-card>
                <mat-card class="subject-details-card">
                    <div fxLayout="col" fxLayoutGap="auto" class="address-col">
                        <mat-card-title class="title">Addresses</mat-card-title>
                        <mat-divider class="address-divider"></mat-divider>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">

                        <mat-card-subtitle>
                            <span matBadge="1" matBadgeOverlap="false"></span>
                            <span class="landmark">{{subject.addresses[0].name}}</span>
                        </mat-card-subtitle>
                    </div>

                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[0].line1}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[0].line2}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[0].line3}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span matBadge="2" matBadgeOverlap="false"></span>
                            <span class="landmark">{{subject.addresses[1].name}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[1].line1}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[1].line2}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[1].line3}}</span>
                        </mat-card-subtitle>
                    </div>
                    <div fxLayout="col" fxLayoutGap="auto">
                        <mat-card-subtitle>
                            <span class="landmark">{{subject.addresses[1].line4}}</span>
                        </mat-card-subtitle>
                    </div>
                </mat-card>
                <!-- <button mat-icon-button (click)="onCollapse()">
                    <mat-icon class="close-fullscreen-icon" svgIcon="close_fullscreen"></mat-icon>
                </button> -->
            </div>
        </ng-template>

        <ng-template [ngIf]="!subject">
            No data found
        </ng-template>
    <!-- </mat-tab>
</mat-tab-group> -->
