<ng-template [ngIf]="subject">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around">
        <mat-card class="subject-details-card">
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">TIN Type:</mat-card-title>
                <mat-card-subtitle>{{subject.type}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Gender:</mat-card-title>
                <mat-card-subtitle>{{subject.gender}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">CDD Rank Value:</mat-card-title>
                <mat-card-subtitle>{{subject.value}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Preferred Contact Method:</mat-card-title>
                <mat-card-subtitle>{{subject.contact}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Subject Alert ID:</mat-card-title>
                <mat-card-subtitle>{{subject.alert}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">SSN/TIN:</mat-card-title>
                <mat-card-subtitle>{{subject.ssn}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Customer IP:</mat-card-title>
                <mat-card-subtitle>{{subject.ip}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Client Static ID / CIN:</mat-card-title>
                <mat-card-subtitle>{{subject.cin}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Client Since Date:</mat-card-title>
                <mat-card-subtitle>{{subject.date}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">NAICS Sector:</mat-card-title>
                <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Age:</mat-card-title>
                <mat-card-subtitle>{{subject.age}}</mat-card-subtitle>
            </div>

            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Date of Birth/Incorporated.... :</mat-card-title>
                <mat-card-subtitle>{{subject.birth}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Household ID:</mat-card-title>
                <mat-card-subtitle>{{subject.household}}</mat-card-subtitle>
            </div>

            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">Alternate Name:</mat-card-title>
                <mat-card-subtitle>{{subject.name}}</mat-card-subtitle>
            </div>
            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="titlecontent">NAICS Sub Sector:</mat-card-title>
                <mat-card-subtitle>{{subject.sub}}</mat-card-subtitle>
            </div>





        </mat-card>
        <mat-card class="subject-details-card">

            <div fxLayout="col" fxLayoutGap="auto" class="phone-numbers-div">
                <mat-card-title class="phone-titlemain">Phone Numbers</mat-card-title>
                <mat-divider class="phone-divider"></mat-divider>
            </div>

            <div class="phone-section">
                <div class="phone-div">
                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="1" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.primaryPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="landline"></mat-icon>
                    </div>

                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="2" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.secondaryPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>

                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="3" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.thirdPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>

                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="4" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.fourthPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>

                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="5" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.fifthPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>

                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="6" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.sixthPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>

                    <div fxLayout="col" fxLayoutGap="10px">
                        <span matBadge="7" matBadgeOverlap="false"></span>
                        <mat-card-subtitle class="phone-title">
                            {{subject.seventhPhoneNo}}
                        </mat-card-subtitle>
                        <mat-icon class="phone-icon" svgIcon="mobile"></mat-icon>
                    </div>
                </div>
            </div>



            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="email-title">Emails</mat-card-title>
                <mat-divider class="email-divider"></mat-divider>
            </div>
            <div class="emails-div">
                <div fxLayout="col" fxLayoutGap="30px">
                    <span matBadge="1" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px">
                    <span matBadge="2" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px">
                    <span matBadge="3" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px">
                    <span matBadge="4" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="30px">
                    <span matBadge="5" matBadgeOverlap="false"></span>
                    <mat-card-subtitle class="email-gap">{{subject.emailId}}</mat-card-subtitle>
                </div>
            </div>

            <div fxLayout="col" fxLayoutGap="auto">
                <mat-card-title class="document-title">Documents</mat-card-title>
                <mat-divider class="document-divider"></mat-divider>
            </div>
            <div class="documents-div">
                
                <div fxLayout="col" fxLayoutGap="auto">
                    <span matBadge="1"  matBadgeOverlap="false"></span>
                    <mat-card-title>Type:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Number:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Effective:</mat-card-title>
                    <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Sector:</mat-card-title>
                    <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Expires:</mat-card-title>
                    <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Country:</mat-card-title>
                    <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>State/Province:</mat-card-title>
                    <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Issuer:</mat-card-title>
                    <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                </div>
                
                <div fxLayout="col" fxLayoutGap="auto">
                    <span matBadge="2"  matBadgeOverlap="false"></span>
                    <mat-card-title>Type:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentType}}</mat-card-subtitle>
                </div>
                
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Number:</mat-card-title>
                    <mat-card-subtitle>{{subject.documentNo}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Effective:</mat-card-title>
                    <mat-card-subtitle>{{subject.effective}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Sector:</mat-card-title>
                    <mat-card-subtitle>{{subject.sector}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Expires:</mat-card-title>
                    <mat-card-subtitle>{{subject.expires}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Country:</mat-card-title>
                    <mat-card-subtitle>{{subject.country}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>State/Province:</mat-card-title>
                    <mat-card-subtitle>{{subject.state}}</mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-title>Issuer:</mat-card-title>
                    <mat-card-subtitle>{{subject.issuer}}</mat-card-subtitle>
                </div>

            </div>
        </mat-card>
        <mat-card class="subject-details-card">
            <div fxLayout="col" fxLayoutGap="auto" class="address-col">
                <mat-card-title class="title">Addresses</mat-card-title>
                <mat-divider class="address-divider"></mat-divider>
            </div>
            <div class="addresses-div">

                <div fxLayout="col" fxLayoutGap="auto">

                    <mat-card-subtitle>
                        <span matBadge="1" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[0].name}}</span>
                    </mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span matBadge="2" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[1].name}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line4}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">

                    <mat-card-subtitle>
                        <span matBadge="3" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[0].name}}</span>
                    </mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span matBadge="4" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[1].name}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line4}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">

                    <mat-card-subtitle>
                        <span matBadge="5" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[0].name}}</span>
                    </mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span matBadge="6" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[1].name}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line4}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">

                    <mat-card-subtitle>
                        <span matBadge="7" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[0].name}}</span>
                    </mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span matBadge="8" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[1].name}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line4}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">

                    <mat-card-subtitle>
                        <span matBadge="9" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[0].name}}</span>
                    </mat-card-subtitle>
                </div>

                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[0].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span matBadge="10" matBadgeOverlap="false"></span>
                        <span class="landmark">{{subject.addresses[1].name}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line1}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line2}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line3}}</span>
                    </mat-card-subtitle>
                </div>
                <div fxLayout="col" fxLayoutGap="auto">
                    <mat-card-subtitle>
                        <span class="landmark">{{subject.addresses[1].line4}}</span>
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card>

    </div>
</ng-template>

<ng-template [ngIf]="!subject">
    No data found
</ng-template>