:host ::ng-deep {
  mat-card-title {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
  }

  mat-card {
    width: 100%;
    background: #f6f7f7;
    
    padding: 5px;
  }

  mat-card-subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-header:hover {
    height: 15px !important;
    background-color: #f6f7f7 !important;
  }

  .mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .mat-expansion-indicator {
    display: inline-block;
    padding: 5px;
    margin-right: 50%;
    color: black;
    transform: rotate(45deg);
    vertical-align: baseline;
  }
}

.dialog-area {
  border: 1px solid transparent;
}

.ellipsis-bttn {
  height: 24px;
  line-height: 0px;
  min-width: 40px;
  top: 14px;
  left: -4px;
}

h5 {
  font-family: Arial;
  text-align: left;
  color: rgba(0,0,0,.54);
  margin: 0px 5px 2px;
}
