<div fxLayout="row" fxLayoutGap="auto">
    <mat-card class="customer-card">
        <mat-card-title>
            WI/Case Type
        </mat-card-title>
        <mat-card-subtitle>
            UFO WI
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Investigation Phase
        </mat-card-title>
        <mat-card-subtitle>
            Under Primary Phase
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Assigned To
        </mat-card-title>
        <mat-card-subtitle>
            Content
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Type of Activity
        </mat-card-title>
        <mat-card-subtitle>
            BSA
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Source Type
        </mat-card-title>
        <mat-card-subtitle>
            ERCM Referral
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Business Unit
        </mat-card-title>
        <mat-card-subtitle>
            FIU Investigation
        </mat-card-subtitle>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutGap="auto">
    <mat-card>
        <mat-card-title>
            Category of Activity
        </mat-card-title>
        <mat-card-subtitle>
            BSAEDD
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            SAR Filed Date
        </mat-card-title>
        <mat-card-subtitle>
            Content
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Total Risk
        </mat-card-title>
        <mat-card-subtitle>
            Content
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Internal/External
        </mat-card-title>
        <mat-card-subtitle>
            External
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Age
        </mat-card-title>
        <mat-card-subtitle>
            13
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Inv. SLA Deadline Date
        </mat-card-title>
        <mat-card-subtitle>
            07/10/2020
        </mat-card-subtitle>
    </mat-card>
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="auto">
            <mat-card class="customer-card">
                <mat-card-title>
                    Creation Date
                </mat-card-title>
                <mat-card-subtitle>
                    06/10/2020
                </mat-card-subtitle>
            </mat-card>

            
            <mat-card>
                <mat-card-title>
                    SAR/CAR/Unfiled Deadline
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>

            

            
            <mat-card>
                <mat-card-title>
                    Significant Secondary Inv
                </mat-card-title>
                <mat-card-subtitle>
                    No
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Sensitive?
                </mat-card-title>
                <mat-card-subtitle>
                    No
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Amended SAR/CAR Deadline
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            
                <mat-card>
                        <mat-card-title>
                            STAMP ID
                        </mat-card-title>
                        <mat-card-subtitle>
                            Content
                        </mat-card-subtitle>
                    </mat-card>
                    <mat-card>
                            <mat-card-title>
                                Alerted Month
                            </mat-card-title>
                            <mat-card-subtitle>
                                Content
                            </mat-card-subtitle>
                        </mat-card>
        </div>

        <div fxLayout="row" fxLayoutGap="auto">
            <mat-card>
                <mat-card-title>
                    P. Inv. Complete Date
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    S. Decision Date
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                    <mat-card-title>
                        Subject
                    </mat-card-title>
                    <mat-card-subtitle>
                        Content
                    </mat-card-subtitle>
                </mat-card>

            <mat-card>
                    <mat-card-title>
                        Case Narrative
                    </mat-card-title>
                    <mat-card-subtitle>
                        Content
                    </mat-card-subtitle>
                </mat-card>
            <mat-card>
                <mat-card-title>
                    Prohibited Client
                </mat-card-title>
                <mat-card-subtitle>
                    No
                </mat-card-subtitle>
            </mat-card>
            

            <mat-card>
                <mat-card-title>
                    Referral Source
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>


            <mat-card>
                <mat-card-title>
                    LE Letter Exp. Date
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            
            
            <mat-card>
                <mat-card-title>
                    Summary
                </mat-card-title>
                <mat-card-subtitle>
                    Test Summary
                </mat-card-subtitle>
            </mat-card>

        </div>
    </mat-expansion-panel>

</mat-accordion>