<div fxLayout="row" fxLayoutGap="auto">
    <mat-card>
        <mat-card-title>
            WI/Case Type
        </mat-card-title>
        <mat-card-subtitle>
            UFO WI
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Type of Activity
        </mat-card-title>
        <mat-card-subtitle>
            FRDS
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Category of Activity
        </mat-card-title>
        <mat-card-subtitle>
            FRDSCOR
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Internal/External
        </mat-card-title>
        <mat-card-subtitle>
            Internal
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Inv. SLA Deadline
        </mat-card-title>
        <mat-card-subtitle>
            07/10/2020
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Age
        </mat-card-title>
        <mat-card-subtitle>
            17
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            SAR Filed
        </mat-card-title>
        <mat-card-subtitle>
            Content
        </mat-card-subtitle>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutGap="auto">
    <mat-card>
        <mat-card-title>
            Sensitive?
        </mat-card-title>
        <mat-card-subtitle>
            No
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Creation
        </mat-card-title>
        <mat-card-subtitle>
            06/15/2020 06:22 AM
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Assigned To
        </mat-card-title>
        <mat-card-subtitle>
            Vikash Shrestha
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Business Unit
        </mat-card-title>
        <mat-card-subtitle>
            CI
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Source Type
        </mat-card-title>
        <mat-card-subtitle>
            ERCM Referral
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Referral Source
        </mat-card-title>
        <mat-card-subtitle>
            Cyber Event
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>
            SAR/CAR/Unfiled Deadline
        </mat-card-title>
        <mat-card-subtitle>
            Content
        </mat-card-subtitle>
    </mat-card>
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="auto">
            <mat-card class="customer-card">
                <mat-card-title>
                    Alerted Month
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Total Risk
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Prohibited Client
                </mat-card-title>
                <mat-card-subtitle>
                    No
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Significant Secondary Inv.
                </mat-card-title>
                <mat-card-subtitle>
                    No
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Subject
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Amended SAR/CAR Deadline
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    SAS ID
                </mat-card-title>
                <mat-card-subtitle>
                    Content
                </mat-card-subtitle>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayoutGap="auto">
            <mat-card>
                <mat-card-title>
                    Case Narrative
                </mat-card-title>
                <mat-card-subtitle>
                    <div fxLayout="row" fxLayoutAlign="space-around" class="dialog-area">
                        <h5>Case Narrative Content - Directions for Writing a Narrative Case Study..... A narrative case
                            study is a story of a real life problem or situation that provides sufficient background
                            data so that the problem can be analyzed and solved. A good case study is written in the
                            form of a story. Case Narrative Content: Directions for Writing a Narrative Case Study.....Case Narrative Content: Directions for Writing a Narrative Case Study.....Case Narrative.....</h5>
                        <button class="ellipsis-bttn" mat-raised-button (click)="openDialog()">...</button>
                    </div>
                </mat-card-subtitle>
            </mat-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>